/*
    RESET
    PLAYER
    ADDTRACK
    TABLE
*/

/* =RESET
--------------------------------------------------------------------------- */
* {
    /* hooray */
    margin:0;
    padding:0;
}

ul {
    list-style:none;
}

body {
    font-family:'Molengo', Arial, Verdana, sans-serif;
    background:#ededed;
    font-size:69.75%;
    color:#444;
}

section {
    display:block;
}

#content {
    width:400px;
    margin:20px auto;
}

h1 {
    text-align:center;
    font-size:4.5em;
    font-family: 'Reenie Beanie', arial, serif;
    font-style:italic;
}



/* =PLAYER
--------------------------------------------------------------------------- */
#player {
    margin:20px 0 20px 0;
}
#player button {
    background:none;
    border:0;
}
#player > span:hover {
    background:#ffffd3;
}

#player button {
    border-color: transparent transparent transparent #444;
    border-style:solid;
    border-width:24px 24px 24px 32px;
    width:0;
    height:0;
    text-indent:-9999em;
    margin:23px 0 0 35px;
    cursor:pointer;
}

#player > span {
    cursor:pointer;
    display:inline-block;
    background:white;
    overflow:hidden;
    height:90px;
    width:90px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    box-shadow: rgba(0,0,0,.3) 0 0 10px;
}

#player div {
    display:inline-block;
    vertical-align:top;
    position:relative;
    width:280px;
    margin:5px 0 0 20px;
}

#player li {
    position:relative;
    margin:0 0 5px 0;
    font-size:1.2em;
    width: 100%;
    overflow:hidden;
}

#player li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:230px;
    float:left;
}

#player li img {
    float:left;
    margin:3px 5px 0 0;
}

#player h2 {
    margin:0 0 8px 0;
}

#player h2 img {
    vertical-align:middle;
}

/* =ADDTRACK
---------------------------------------------------------------------------- */
#add-track:hover span {
    background:#ffffd3;
}

#add-track > span {
    cursor:pointer;
    display:inline-block;
    background:white;
    overflow:hidden;
    height:35px;
    width:390px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    margin:0 0 20px 0;
    padding:0 0 0 10px;
}

#add-track > span * {
    display:inline-block;
    vertical-align:bottom;
}

#add-track b {
    font-weight:bold;
    font-size:4em;
    line-height:.6em;
    padding:0 10px 0 0;
}

#add-track span span {
    font-size:1.3em;
}


/* =TABLE
---------------------------------------------------------------------------- */
#list {
    background:#fefefe;
    width:400px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    border-radius:15px;
}

table {
    padding:10px;
    width:100%;
    font-size:1.2em;
}

table tr {
    cursor:pointer;
}

table tr:hover td {
    background:#ffffd3 !important;
}

table th {
    text-align:left;
    width:50%;
    border-bottom:1px solid black;
}

table td {
    padding:5px;
}

table b {
    display:block;
    text-align:center;
}

table span {
    display:block;
    text-align:left;
    padding:0 0 0 10px;
}

table span:last-child {
    text-align:right;
    padding:0  10px 0 0;
}

table tr:nth-child(2n) {
    background:#eee;
}













