/*
    RESET
    PLAYER
    ADDTRACK
    TABLE
	FILELIST
	DIALOG
	
	COLORS
        E84F60
        F7B448
	
*/

/* =RESET
--------------------------------------------------------------------------- */
* {
    /* hooray */
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
    color:inherit;
}

ul {
    list-style:none;
}

body {
    font-family:'Molengo', Arial, Verdana, sans-serif;
    background:#FEF9F5;
    font-size:69.75%;
    color:#444;
}

section {
    display:block;
}

#content {
    width:400px;
    margin:20px auto;
}

h1 {
    text-align:center;
    font-size:4.5em;
    font-family: 'Reenie Beanie', arial, serif;
    font-style:italic;
    color:#E84F60;
    text-shadow:#F7B448 1px 1px 1px;
}

button {
    background:none;
    border:0;
}


/* =PLAYER
--------------------------------------------------------------------------- */
#player {
    margin:20px 0 20px 0;
}
#player button {
    background:none;
    border:0;
}

#player > div:first-child {
    margin: 0 10px 0 0;
}
#player > div:first-child:hover {
    background:#E84F60 -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, rgb(232,79,97)),
        color-stop(0.74, rgb(255,120,138))
    );
    background:#E84F60 -moz-linear-gradient(
        center bottom,
        rgb(232,79,97) 11%,
        rgb(255,120,138) 74%
    );
}

#player > div:first-child:hover a {
    border-color:transparent transparent transparent #000 !important;
}

#player > div:first-child a {
    border-color: transparent transparent transparent #444;
    border-style:solid;
    border-width:24px 24px 24px 32px;
    width:0;
    height:0;
    text-indent:-9999em;
    margin:23px 0 0 35px;
    cursor:pointer;
}

#player > div:first-child {
    cursor:pointer;
    display:inline-block;
    background:white;
    overflow:hidden;
    height:90px;
    width:90px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    box-shadow: rgba(0,0,0,.3) 0 0 10px;
}

#player > div {
    display:inline-block;
    vertical-align:top;
    position:relative;
    width:296px;
}

#player li {
    position:relative;
    margin:0 0 5px 0;
    font-size:1.2em;
    width: 100%;
    overflow:hidden;
}

#player #covers {
    float:left;
    position:relative;
}

#player #covers img {
    width:44px;
    height:44px;
    opacity:.9;
}

#player #covers + ul {
    float:left;
    margin:0 0 0 37px;
    width:215px;
}

#player #covers img:last-child {
    position:absolute;
    margin:20px -20px 0 0;
    top:0;
    right:0;
}

#player li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:230px;
    float:left;
}

#player li span span {
    overflow: visible;
    text-overflow: none;
    white-space: normal;
    width:auto;
    float:none;
}

#player h2 {
    margin:0 0 8px 0;
}

#player h2 img {
    vertical-align:middle;
}

.sc-player .sc-artwork-list{
  display: none;
}

/* controls */

.sc-player .sc-controls a{
  display: block;
}


.sc-player .sc-controls a.sc-pause,
.sc-player.playing .sc-controls a.sc-play,
.sc-player ol.sc-trackslist,
.sc-player .sc-info,
.sc-player .sc-info-toggle,
.sc-player .hidden,
.sc-player .sc-scrubber {
  display: none !important;
}

.sc-player.playing .sc-controls a.sc-pause {
    display:block;
}

.sc-player .sc-controls a {
  color: transparent;
/*  background: url('../img/play.png');*/
}

.sc-player .sc-controls:hover .sc-play {
/*  background: url('../img/play-hover.png');*/
    border-color:transparent transparent transparent #444 !important;
}

.sc-player .sc-controls a.sc-pause {
/*  background: url('../img/play.png');*/
    border-width:32px 32px 32px 32px !important;
    border-color:red;
}

.sc-player .sc-controls a.sc-pause:hover{
/*  background: url('../img/play-hover.png');*/
}

.sc-player.playing .sc-controls a.sc-pause{
/*  background: url('../img/pause.png');*/
    display:block !important;
    border-color: #444 !important;
    margin:28px 0 0 28px !important;
    border-width:17px !important;
}

#player > div:first-child:hover .sc-player.playing .sc-controls a.sc-pause {
    border-color:#000 !important;
}

.sc-player.playing .sc-controls a.sc-pause{
/*  background: url('../img/pause.png');*/
/*    display:block !important;
    border-color: red !important;
    margin:28px 0 0 28px !important;
    border-width:17px !important;*/
}

.sc-player.playing .sc-controls a.sc-pause:hover{
/*  background: url('../img/pause-hover.png');*/
} 

.sc-player-engine-container {
    visibility:hidden;
    position:absolute;
    left:-9999em;
    top:0;
}


/* =ADDTRACK
---------------------------------------------------------------------------- */
#add-track {
    margin:0 0 20px 0;
}

#add-track #files {
    position:relative;
    z-index:5;
    padding-bottom:8px;
}

#add-track > div {
    background:#fff;
    -webkit-border-radius:0 0 15px 15px;
    -moz-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    margin:-20px 0 0 0;
    padding:30px 10px 10px 10px;
    font-size:1.2em;
}

#add-track #files:hover {
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.11, #F3A7B0),
        color-stop(0.74, #FDB7BE)
    );
    background: -moz-linear-gradient(
        center bottom,
        #F3A7B0 11%,
        #FDB7BE 74%
    );

    color:#000;
}

#add-track > span {
    cursor:pointer;
    display:inline-block;
    background:#fff;
    overflow:hidden;
    height:35px;
    width:390px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    padding:4px 0 8px 10px;
}

#add-track > span * {
    float:left;
}

#add-track b {
    font-weight:bold;
    font-size:4em;
    line-height:.6em;
    padding:0 10px 0 0;
}

#add-track span span {
    font-size:1.3em;
    padding:8px 0 0 0;
}

#add-track h3 {
    font-size:1.5em;
    font-weight:normal;
    padding:5px;
}

#add-track #genres li a {
    background:#eee;
    font-size:1.2em;
    padding:5px;
    border-top:1px solid #fff;
    display:block;
}

#add-track .genre li a {
    background:#eee;
    font-size:1.2em;
    padding:2px 5px;
    border-top:1px solid #fff;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:370px;
}

#add-track #genres li a:hover,
#add-track .genre li a:hover {
    background:rgba(247,180,72,.5);
}


/* =TABLE
---------------------------------------------------------------------------- */
#list {
    background:#fefefe;
    width:400px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    border-radius:15px;
}

table {
    padding:10px;
    width:100%;
    font-size:1.2em;
}

table tr {
    cursor:pointer;
}

table tr:hover td {
    background:rgba(247,180,72,.5) !important;
}

table th {
    text-align:left;
    width:50%;
    border-bottom:1px solid black;
}

table td {
    padding:5px;
}

table b {
    display:block;
    text-align:center;
}

table span {
    display:block;
    text-align:left;
    padding:0 0 0 10px;
}

table span:last-child {
    text-align:right;
    padding:0  10px 0 0;
}

table tr:nth-child(2n) {
    background:#eee;
}

/* =FILELIST
---------------------------------------------------------------------------- */
#add-track > div {
    display:none;
}

.hidden {
    display:none;
}

#choose-genre {
    overflow:hidden;
}

#choose-genre span {
    background:#fff;
    border-color: transparent #444 transparent transparent;
    border-style:solid;
    border-width:10px 8px 9px 8px;
    display:block;
    width:0;
    height:0;
    float:left;
    margin:0 0 0 -13px;
}

#choose-genre button {
    float:left;
    background:#444;
    color:#fff;
    font-size:.7em;
    width:367px;
    text-align:left;
    cursor:pointer;
}

#choose-genre.active:hover span {
    border-color: transparent #F3A7B0 transparent transparent !important;
}

#choose-genre.active:hover button {
    background:#F3A7B0;
}


/* =DIALOG
--------------------------------------------------------------------------- */
ol{
	list-style: none;
	overflow:hidden;
	margin:20px 0;
}
.cover {
	float:left;
	width:80px;
	height:80px;
}

#dialog .cover-1 {
    float:left;
    width:50%;
}


#dialog .cover-2 {
    width:50%;
    text-align:right;
}

#dialog .cover-2,
#dialog .cover-2 img {
    float:right;
}

.details{
    display:inline-block;
    margin:0 5px;
}

.details h3 {
	font-size:2em;
}

.details p {
	font-size:1.7em;
}

.plus {
	text-align:center;
	font-size:3em;
	font-style:bold;
}

.equals {
	text-align:center;
	font-size:3em;
	font-style:bold;
}

#dialog label {
    font-size:2em;
}

#dialog input[type=text] {
    border:1px solid #E84F60;
    font-size:2em;
}

#dialog input[type=text]:focus {
    border:1px solid #F7B448;
}

#dialog button {
    border:1px solid #E84F60;
    background:#E84F60;
    color:#fff;
    font-size:2em;
    font-weight:bold;
}

#dialog button:hover {
    border:1px solid #F7B448;
    background:#F7B448;
}

.loading {
    display:none;
}






