/*
    RESET
    PLAYER
    ADDTRACK
    TABLE
	FILELIST
*/

/* =RESET
--------------------------------------------------------------------------- */
* {
    /* hooray */
    margin:0;
    padding:0;
}

a {
    text-decoration:none;
    color:inherit;
}

ul {
    list-style:none;
}

body {
    font-family:'Molengo', Arial, Verdana, sans-serif;
    background:#ededed;
    font-size:69.75%;
    color:#444;
}

section {
    display:block;
}

#content {
    width:400px;
    margin:20px auto;
}

h1 {
    text-align:center;
    font-size:4.5em;
    font-family: 'Reenie Beanie', arial, serif;
    font-style:italic;
}

button {
    background:none;
    border:0;
}




/* =PLAYER
--------------------------------------------------------------------------- */
#player {
    margin:20px 0 20px 0;
}
#player button {
    background:none;
    border:0;
}

#player > div:first-child {
    margin: 0 10px 0 0;
}
#player > div:first-child:hover {
    background:#ffffd3;
}

#player > div:first-child a {
    border-color: transparent transparent transparent #444;
    border-style:solid;
    border-width:24px 24px 24px 32px;
    width:0;
    height:0;
    text-indent:-9999em;
    margin:23px 0 0 35px;
    cursor:pointer;
}

#player > div:first-child {
    cursor:pointer;
    display:inline-block;
    background:white;
    overflow:hidden;
    height:90px;
    width:90px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 10px;
    box-shadow: rgba(0,0,0,.3) 0 0 10px;
}

#player div {
    display:inline-block;
    vertical-align:top;
    position:relative;
}

#player li {
    position:relative;
    margin:0 0 5px 0;
    font-size:1.2em;
    width: 100%;
    overflow:hidden;
}

#player li span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:230px;
    float:left;
}

#player li img {
    float:left;
    margin:3px 5px 0 0;
}

#player h2 {
    margin:0 0 8px 0;
}

#player h2 img {
    vertical-align:middle;
}

.sc-player .sc-artwork-list{
  display: none;
}

/* controls */

.sc-player .sc-controls a{
  display: block;
}


.sc-player .sc-controls a.sc-pause,
.sc-player.playing .sc-controls a.sc-play,
.sc-player ol.sc-trackslist,
.sc-player .sc-info,
.sc-player .sc-info-toggle,
.sc-player .hidden,
.sc-player .sc-scrubber {
  display: none !important;
}

.sc-player.playing .sc-controls a.sc-pause {
    display:block;
}

.sc-player .sc-controls a {
  color: transparent;
/*  background: url('../img/play.png');*/
}

.sc-player .sc-controls:hover .sc-play {
/*  background: url('../img/play-hover.png');*/
    border-color:transparent transparent transparent #444 !important;
}

.sc-player .sc-controls a.sc-pause {
/*  background: url('../img/play.png');*/
    border-width:32px 32px 32px 32px !important;
    border-color:red;
}

.sc-player .sc-controls a.sc-pause:hover{
/*  background: url('../img/play-hover.png');*/
}

.sc-player.playing .sc-controls a.sc-pause{
/*  background: url('../img/pause.png');*/
    display:block !important;
    border-color: #444 !important;
    margin:28px 0 0 28px !important;
    border-width:17px !important;
}

.sc-player.playing .sc-controls a.sc-pause:hover{
/*  background: url('../img/pause-hover.png');*/
} 

.sc-player-engine-container {
    visibility:hidden;
    position:absolute;
    left:-9999em;
    top:0;
}


/* =ADDTRACK
---------------------------------------------------------------------------- */
#add-track {
    margin:0 0 20px 0;
}

#add-track #files {
    position:relative;
    z-index:5;
}

#add-track > div {
    background:#fff;
    -webkit-border-radius:0 0 15px 15px;
    -moz-border-radius:0 0 15px 15px;
    border-radius:0 0 15px 15px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    margin:-20px 0 0 0;
    padding:30px 10px 10px 10px;
    font-size:1.2em;
}

#add-track #files:hover {
    background:#ffffd3;
}

#add-track > span {
    cursor:pointer;
    display:inline-block;
    background:#fff;
    overflow:hidden;
    height:35px;
    width:390px;
    -webkit-border-radius:90px;
    -moz-border-radius:90px;
    border-radius:90px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    padding:0 0 0 10px;
}

#add-track > span * {
    display:inline-block;
    vertical-align:bottom;
}

#add-track b {
    font-weight:bold;
    font-size:4em;
    line-height:.6em;
    padding:0 10px 0 0;
}

#add-track span span {
    font-size:1.3em;
}

#add-track h3 {
    font-size:1.5em;
    font-weight:normal;
    padding:5px;
}

#add-track #genres li a {
    background:#eee;
    font-size:1.2em;
    padding:5px;
    border-top:1px solid #fff;
    display:block;
}

#add-track #genres li a:hover {
    background:#ffffd3;
}


/* =TABLE
---------------------------------------------------------------------------- */
#list {
    background:#fefefe;
    width:400px;
    -webkit-border-radius:15px;
    -moz-border-radius:15px;
    -webkit-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    -moz-box-shadow: rgba(0,0,0,.3) 0 0 3px;
    box-shadow: rgba(0,0,0,.3) 0 0 3px;
    border-radius:15px;
}

table {
    padding:10px;
    width:100%;
    font-size:1.2em;
}

table tr {
    cursor:pointer;
}

table tr:hover td {
    background:#ffffd3 !important;
}

table th {
    text-align:left;
    width:50%;
    border-bottom:1px solid black;
}

table td {
    padding:5px;
}

table b {
    display:block;
    text-align:center;
}

table span {
    display:block;
    text-align:left;
    padding:0 0 0 10px;
}

table span:last-child {
    text-align:right;
    padding:0  10px 0 0;
}

table tr:nth-child(2n) {
    background:#eee;
}

/* =FILELIST
---------------------------------------------------------------------------- */
#add-track > div {
    display:none;
}

.hidden {
    display:none;
}

#choose-genre {
    overflow:hidden;
}

#choose-genre span {
    background:#fff;
    border-color: transparent #444 transparent transparent;
    border-style:solid;
    border-width:10px 8px 9px 8px;
    display:block;
    width:0;
    height:0;
    float:left;
    margin:0 0 0 -13px;
}

#choose-genre button {
    float:left;
    background:#444;
    color:#fff;
    font-size:.7em;
    width:367px;
    text-align:left;
    cursor:pointer;
}









